$main-white: #ffffff;
$main-font-color: #111111;
$additional-element-color: #f74137;
$additional-bgc: #393e40;
$nav-font-color: #cdcfcf;
$top-nav-border: 1px solid #E1E2E8;
$arrow-btn-color: #c1c2c6;
