$main-white: #ffffff;
$main-font-color: #111111;
$additional-element-color: #f74137;
$additional-bgc: #393e40;
$nav-font-color: #cdcfcf;
$top-nav-border: 1px solid #e1e2e8;
$main-section-bgc: #f2f3f4;
$arrow-btn-color: #c1c2c6;
$old-price-font-color: #a3a3a3;
