@use 'variables' as v;

.text {
	font-size: 14px;
	font-weight: normal;
	color: v.$main-font-color;

	&--bold {
		font-weight: bold;
	}

	&--header {
		font-weight: bold;
		font-size: 3em;
	}

	&--white {
		color: v.$main-bgc;
	
		a {
			text-decoration: none;
			color: v.$main-bgc;
		}
	
		a:visited {
			color: v.$main-bgc;
		}
	}
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;

	&--main {
		padding: 1.5rem 3rem;
		color: v.$main-bgc;
		background-color: v.$additional-element-color;
	}

	&--slider {
		position: absolute;
		top: 40%;
		z-index: 10;
		padding: 1rem 1.3rem;
		background-color: v.$arrow-btn-color;
	}

	&--buy {
		height: 100%;
		padding: 0 1rem;
		background-color: v.$buy-btn-color;
	}

	&--left {
		left: 0;
	}

	&--right {
		right: 0;
		rotate: 180deg;
	}
}

.darken-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;

	&--fade {
		background: linear-gradient(90deg, black, transparent);
		opacity: 55%;
	}

	&--full {
		background-color: rgb(37, 37, 37);
		opacity: 50%;
	}
}