@use 'variables' as v;

.product {
	font-size: 1rem;
	color: v.$main-font-color;
	background-color: v.$main-white;
	padding-bottom: 2rem;

	&__img {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}

	&__text {
		translate: 0 -10px;
		transition: translate 0.1s cubic-bezier(0.11, 0.93, 0.33, 0.38);

		h3 {
			font-size: larger;
			font-weight: bold;
			text-transform: uppercase;
		}
	}

	&__code {
		padding-top: 0.5rem;
		padding-bottom: 1rem;
	}

	&__buy {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		height: 36px;
	}
}

.price {
	font-size: 1.2em;
	line-height: 1.3em;

	&--old {
		color: v.$old-price-font-color;
		text-decoration: line-through;
	}

	&--new {
		font-weight: bold;
	}
}

.amount-of-products {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border: 1px solid lightgray;
	font-size: 14px;

	button {
		height: 100%;
		font-size: 0.8em;
		padding: 0 0.5rem;
	}

	p {
		padding: 0 2rem;
	}
}

.amount-input {
	-moz-appearance: textfield;
	appearance: textfield;
	width: 5rem;
	margin: 0;
	text-align: center;

	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

.cart__img {
	aspect-ratio: 1 / 1;
	height: 60%;
}

@media (hover: hover) {
	.product {
		&__text {
			translate: 0 36px;
		}

		&__buy {
			opacity: 0;
			transition: opacity 0s cubic-bezier(0.11, 0.93, 0.33, 0.38);
		}

		&:hover {
			.product__buy {
				opacity: 1;
			}

			.product__text {
				translate: 0 -10px;
			}
		}
	}
}

@media (min-width: v.$laptop-sm) {
	.product__img {
		padding: 4rem 0;
	}
}
