@use 'variables' as v;
@use 'reset';
@use 'main';
@use 'nav';
@use 'product';

.arrow--up {
	rotate: 90deg;
}

.arrow--down {
	rotate: -90deg;
}

.text--inline {
	display: inline-block;
}

.breadcrumb {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	gap: 25px;
	padding: 2rem;
	padding-bottom: 1.5rem;
	background-color: v.$main-section-bgc;
}

.main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 2rem;
	width: 100%;
	padding: 2rem;
}

.main__header {
	margin-bottom: 2rem;
	min-width: 100%;
}

.photos-list {
	display: flex;
	flex-flow: column nowrap;
	gap: 5px;
}

.photos-list__btn {
	width: 70px;
	padding: 1rem 0;
	background-color: v.$arrow-btn-color;
}

.photos-list__img {
	width: 70px;
	height: 70px;
	border: v.$main-border;
}

.photos {
	display: flex;
	justify-content: center;
	width: 55%;
	position: relative;
}

.photos__img {
	height: 400px;
	width: 400px;
}

.buy-section {
	height: 100%;
}

.anchor {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	padding: 15px;
	background-color: v.$main-section-bgc;
}

.product--description-btn {
	text-transform: uppercase;
	background-color: v.$additional-element-color;
	height: 40px;
	width: 185px;
	color: v.$main-white;
	font-size: 14px;
}

.technical--data-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;
}

.other-from-categori-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;
}

.gray--line {
	border: 1px solid v.$nav-font-color;
	height: 2px;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 35px;
}

.lead {
	display: flex;
	font-size: 36px;
	justify-content: center;
}

.middle-red-line {
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, lightgray 0 47.5%, red 47.5% 52.5%, lightgray 52.5% 100%);
	margin-top: 25px;
}

.description {
	display: flex;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 30px;
}

.description--large {
	display: flex;
	font-size: 19px;
	margin-top: 20px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 30px;
}

.first-headline {
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 150px;
}

.second-headline {
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 150px;
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}

.icon-on-image {
	position: absolute;
}

.basic-informations {
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		font-size: 36px;
		margin-top: 40px;
		margin-bottom: 20px;
	}
}

.second-middle-red-line {
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, lightgray 0 47.5%, red 47.5% 52.5%, lightgray 52.5% 100%);
	margin-bottom: 35px;
}
