@use 'reset';
@use 'variables' as v;

html {
	font-size: 10px;
}

body {
	font-family: sans-serif;
	width: 100%;
	min-height: 100vh;
}

a {
	text-decoration: none;
	color: v.$main-font-color;
}

a:visited {
	color: v.$main-font-color;
}

button:hover {
	cursor: pointer;
}

//classes for js
.hide {
	opacity: 0 !important;
}
//

.text--bold {
	font-weight: bold;
}

.btn--main {
	padding: 1.5rem 3rem;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: v.$main-white;
	background-color: v.$additional-element-color;
}

.slider__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 40%;
	z-index: 10;
	padding: 1.4rem 1.7rem;
	background-color: v.$arrow-btn-color;

	i {
		font-size: 1.7rem;
	}
}

.btn--left {
	left: 0;
}

.btn--right {
	right: 0;
	rotate: 180deg;
}

.fade-darken-bg,
.full-darken-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

.fade-darken-bg {
	background: linear-gradient(90deg, black, transparent);
	opacity: 55%;
}

.full-darken-bg {
	background-color: rgb(37, 37, 37);
	opacity: 50%;
}

.middle-red-line {
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, lightgray 0 47.5%, red 47.5% 52.5%, lightgray 52.5% 100%);
}

.header {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 10vh;
	max-height: 100px;
	padding: 1rem 1rem;
	background-color: v.$main-white;
}

.header__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
	width: 60%;

	img {
		height: 100%;
	}
}

.header__mobile-btn {
	background-color: transparent;
	font-size: calc(10vh - 2rem);
}

.header__nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 101;
	width: 60vw;
	min-width: 250px;
	max-width: 400px;
	height: 100vh;
	padding: 2rem;
	padding-left: 0;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	color: v.$main-font-color;
	background-color: v.$mobile-menu-bgc;
	transform: translateX(100%);

	p {
		text-align: left;
	}
}

.header__mobile-btn,
.header__nav {
	transition: transform 0.2s linear;
}

.nav__element {
	display: flex;
	justify-content: left;
	align-items: center;
}

.nav__element:not(:first-of-type) {
	margin-top: 10px;
}

.main {
	width: 100%;
}
.main__see-more {
	display: flex;
	width: 100%;
	gap: 2rem;
	padding: 2rem 0;
	flex-direction: column;
}

.see-more__element {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	width: 100%;
	height: 40vh;
	min-height: 300px;
	color: v.$main-white;
	overflow: hidden;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: scale 0.25s linear;
	}

	h2,
	h3,
	button {
		z-index: 1;
		margin-left: 4rem;
	}

	h2,
	h3 {
		line-height: 1.2em;
		font-size: 30px;
	}

	h2 {
		font-weight: bold;
	}

	.btn--main {
		margin-top: 20px;
		border: 1px solid v.$main-white;
		background-color: transparent;
		transition: background-color 0.2s linear;
	}

	.btn--main:hover {
		background-color: v.$additional-element-color;
		border: none;
	}
}

.see-more__element:hover {
	img {
		scale: 1.1;
	}
}

.why-us {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	width: 100%;
	padding: 5rem 0;
	text-align: center;
	color: v.$main-white;
	background-image: url(../photos/whyUsBanner.png);
	background-size: cover;
	background-position: top;

	h2 {
		font-size: 44px;
	}

	p {
		font-size: 18px;
		padding-bottom: 45px;
	}

	*:not(.full-darken-bg) {
		z-index: 10;
	}

	.middle-red-line {
		margin: 2rem 0 4rem 0;
	}
}

.why-us__content {
	width: 55%;
}

.why-us__squares {
	display: none;
}

.nav {
	display: none;
}

@media (min-width: 992px) {
	.header {
		padding: 1rem 2rem;
	}

	.header__logo {
		width: 30%;
		font-size: 1.3rem;
		font-weight: bold;
		color: v.$main-font-color;
		text-transform: uppercase;
	}

	.header__mobile-btn {
		display: none;
	}

	.header__elements--mobile {
		display: none;
	}

	.header__nav {
		position: static;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 40px;
		width: 70%;
		min-width: none;
		max-width: none;
		height: auto;
		font-size: 1.3rem;
		background-color: transparent;
		transform: translateX(0);

		a {
			justify-content: center;
			gap: 10px;
		}

		a:not(:first-of-type) {
			margin: 0;
		}
	}

	.nav__element--cart {
		height: 100%;
		width: 25%;
		border: v.$main-border;
		padding: 0.5rem;
	}

	.element__cart {
		height: 100%;
		width: 30%;
	}

	.cart__img {
		width: 50%;
	}

	.element__price {
		p:last-child {
			font-weight: normal;
		}
	}

	.nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		padding: 1.5rem 2.4rem;
		border-top: v.$main-border;
		border-bottom: v.$main-border;
	}

	.nav__link {
		color: v.$main-font-color;
		text-decoration: none;
		font-size: 1.1rem;
	}

	.main--padding {
		padding: 2rem;
		background-color: v.$main-section-bgc;
	}

	.main__slider {
		position: relative;
		width: 100%;
		height: 60vh;
		min-height: 500px;

		.fade-darken-bg {
			background: linear-gradient(90deg, black, rgb(20, 20, 20) 30%, transparent 50%);
		}
	}

	.slider__slide {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transition: opacity 0.3s linear;
	}

	.slide__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: opacity 0.3s linear;
	}

	.slide__text {
		box-sizing: content-box;
		position: relative;
		top: 50%;
		z-index: 2;
		translate: 0 -50%;
		width: 355px;
		padding-left: 8%;
		font-size: 22px;
		background-color: transparent;
		color: v.$main-white;

		h2,
		h3 {
			font-size: 2em;
		}

		h2 {
			margin-bottom: 0.1em;
		}

		p {
			margin: 1em 0;
		}

		button {
			font-size: 14px;
		}
	}

	.main__see-more {
		flex-direction: row;
	}

	.products {
		padding: 2rem 0;
		text-align: center;

		h2 {
			padding-bottom: 2rem;
			font-size: 34px;
		}

		.middle-red-line {
			width: calc(100% + 4rem);
			translate: -2rem;
		}
	}

	.products__slider {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		overflow: hidden;
		padding: 3rem 0;

		.slider__btn {
			color: v.$main-white;
		}
	}

	.products-stack {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		width: 100%;
		min-width: 100%;
		background-color: v.$main-section-bgc;
		transition: translate 0.5s linear;
	}

	.product {
		width: 20%;
		height: auto;
		padding: 0 2rem 3rem;
		font-size: 1rem;
		color: v.$main-font-color;
		background-color: v.$main-white;

		img {
			width: 100%;
			height: 100%;
			object-fit: fill;
			padding: 4rem 0;
		}

		h3 {
			font-size: larger;
			font-weight: bold;
			text-transform: uppercase;
		}

		.text-wrapper {
			translate: 0 36px;
			transition: translate 0.1s cubic-bezier(0.11, 0.93, 0.33, 0.38);
		}
	}

	.product:hover {
		.buy-product-wrapper {
			opacity: 1;
		}

		.text-wrapper {
			translate: 0 -10px;
		}
	}

	.product-code {
		padding-top: 0.5rem;
		padding-bottom: 1rem;
	}

	.old-price,
	.new-price {
		font-size: 1.2em;
		line-height: 1.3em;
	}

	.old-price {
		color: v.$old-price-font-color;
		text-decoration: line-through;
	}

	.new-price {
		font-weight: bold;
	}

	.buy-product-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5px;
		height: 36px;
		opacity: 0;
	}

	.num-of-products {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		border: 1px solid lightgray;
		font-size: 14px;

		button {
			height: 100%;
			font-size: 0.8em;
			padding: 0 0.5rem;
		}

		p {
			padding: 0 2rem;
		}
	}

	.add-product-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 0 1.5rem;
		font-size: 20px;
		color: v.$main-white;
		background-color: v.$buy-btn-color;
	}

	.why-us {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
		align-items: center;
		position: relative;
		width: 100%;
		padding: 5rem 0;
		text-align: center;
		color: v.$main-white;
		background-image: url(../photos/whyUsBanner.png);
		background-size: cover;
		background-position: top;

		h2 {
			font-size: 44px;
		}

		p {
			font-size: 18px;
		}

		*:not(.full-darken-bg) {
			z-index: 10;
		}

		.middle-red-line {
			margin: 2rem 0 4rem 0;
		}
	}

	.why-us__content {
		width: 55%;
	}

	.why-us__squares {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 25px;
		width: 100%;
		padding: 2rem 0 3rem 0;
	}

	.why-us__square {
		width: 33%;
		padding: 5rem 0;
		border: 2px solid gray;
		text-align: center;
		background-color: transparent;

		i {
			font-size: 5rem;
		}

		h3 {
			margin-top: 20px;
			font-size: 1.5rem;
			text-transform: uppercase;
		}
	}

	.footer__nav {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		gap: 2rem;
		width: 100%;
		padding: 2rem 2rem 3rem;
		font-size: 1.5rem;
		background-color: v.$additional-bgc;

		h2 {
			font-size: 1rem;
			color: v.$main-white;
			text-transform: uppercase;
		}
	}

	.nav__column {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		width: 25%;
		gap: 2rem;
	}

	.bottom-nav-line {
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, rgb(247, 64, 54) 0 8%, rgb(96, 101, 102) 8% 90%);
		margin-bottom: 2rem;
		color: rgb(96, 101, 102);
	}

	.column__list {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 2rem;
		font-size: 1rem;
		color: v.$nav-font-color;
	}

	.footer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.footer__copyright {
		display: flex;
		justify-content: space-between;
		padding: 1.5rem 2rem;
	}
}
