@use "reset";
@use "colors" as *;

html {
    font-size: 10px;
}

body {
    font-family: sans-serif;
}

.main-slider {
	position: relative;
	width: 100%;
	height: 400px;
}

.top-nav {
    width: 100%;
    height: 50px;
    border: 1px solid $additional-bgc;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.bold-text {
    font-weight: bold;
}

.top-nav-element {
    color: $main-font-color;
    text-decoration: none;
}

.footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid $additional-bgc;
}

.bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $additional-bgc;
    width: 100vw;
    padding: 20px;
}

.bottom-nav-header {
    font-size: 1rem;
    color: $main-white;
    text-transform: uppercase;
}

.bottom-nav-list {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color:$nav-font-color ;
    gap: 10px;
}

.rectangle {
    background: linear-gradient(90deg, red 0 10%, gray 10% 90%);
    height: 2px;
    width: 20vw;
}


.slider-btn {
	position: absolute;
	top: 50%;
	translate: 0 -50%;
}

.slider-left-btn {
	left: 5px;
}

.slider-right-btn {
	right: 5px;
}

.main-slide {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 1;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: opacity 0.5s;
}

.first-slide {
	background-image: url(../photos/slide_01.jpg);
}

.second-slide {
	background-image: url(../photos/slide_02.png);
}

.hide {
	opacity: 0;
}

.display-none {
	display: none;
}
