@use '../exports/variables' as v;
@use '../exports/reset';
@use '../exports/main';
@use '../exports/nav';
@use '../exports/product';

.path {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	gap: 25px;
	padding: 15px;
	background-color: v.$main-section-bgc;
}
.name-of-product {
	font-size: 44px;
	padding-left: 25px;
}

.products {
	display: flex;
	flex-direction: row;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
	gap: 100px;
}
.product__list {
	display: flex;
	flex-direction: column;
	width: 50px;
	height: 100%;
	gap: 5px;
	margin-top: 30px;
	img {
		border: 1px solid v.$nav-font-color;
	}
}
.buying__menu {
	display: flex;
	width: 100px;
	height: 100px;
	border: 1px solid v.$nav-font-color;
}
.main__product {
	img {
		display: block;
		width: 350px;
		height: 350px;
	}
}
.anchor {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	padding: 15px;
	background-color: v.$main-section-bgc;
}
.product--description-btn {
	text-transform: uppercase;
	background-color: v.$additional-element-color;
	height: 40px;
	width: 185px;
	color: v.$main-white;
	font-size: 14px;
}
.technical--data-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;
}
.other-from-categori-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;	
}
.gray--line{
	border: 2px solid v.$nav-font-color;
	height: 2px;
	width: 100%;
}
.lead{
	
}

