@use '../exports/variables' as v;
@use '../exports/reset';
@use '../exports/main';
@use '../exports/nav';
@use '../exports/product';

.arrow--up {
	rotate: 90deg;
}

.arrow--down {
	rotate: -90deg;
}

.text--inline {
	display: inline-block;
}

.path {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	text-transform: uppercase;
	gap: 25px;
	padding: 2rem;
	padding-bottom: 1.5rem;
	background-color: v.$main-section-bgc;
}

.main {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 2rem;
	width: 100%;
	padding: 2rem;
}

.main__header {
	margin-bottom: 2rem;
	min-width: 100%;
}

.photos-list {
	display: flex;
	flex-flow: column nowrap;
	gap: 5px;
}

.photos-list__btn {
	width: 70px;
	padding: 1rem 0;
	background-color: v.$arrow-btn-color;
}

.photos-list__img {
	width: 70px;
	height: 70px;
	border: v.$main-border;
}

.photos {
	display: flex;
	justify-content: center;
	width: 55%;
	position: relative;
}

.photos__img {
	height: 400px;
	width: 400px;
}

.buy-section {
	height: 100%;
}

.buy-section__buy {
	
}

.anchor {
	display: flex;
	flex-direction: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 25px;
	padding: 15px;
	background-color: v.$main-section-bgc;
}

.product--description-btn {
	text-transform: uppercase;
	background-color: v.$additional-element-color;
	height: 40px;
	width: 185px;
	color: v.$main-white;
	font-size: 14px;
}

.technical--data-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;
}

.other-from-categori-btn {
	text-transform: uppercase;
	color: v.$main-font-color;
	background: v.$main-white;
	height: 40px;
	width: 185px;
	font-size: 14px;
}

.gray--line {
	border: 2px solid v.$nav-font-color;
	height: 2px;
	width: 100%;
}
