$main-white: #ffffff;
$main-font-color: #111111;
$additional-element-color: #f74137;
$additional-bgc: #393e40;
$nav-font-color: #cdcfcf;
$main-section-bgc: #f2f3f4;
$arrow-btn-color: #c1c2c6;
$old-price-font-color: #a3a3a3;
$buy-btn-color: #9bcb3b;
$mobile-menu-bgc: #e6e0e0;
$main-border: 1px solid #e1e2e8;

//breakpoints
$tablet-sm: 576px;
$tablet-lg: 768px;
$laptop-sm: 992px;
$laptop-lg: 1200px;
$desktop: 1400px;
